body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

.d-flex {
  display: flex;
}

header {
  height: 50px;
  background-color: black;
  color: #fff;
}

nav {
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

nav a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.container {
  padding: 1.5rem;
  box-shadow: 3px 3px 5px 1px #ddd;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  padding: 2rem;
  text-align: left;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #fff;
}
table tr:hover {
  background-color: #ddd;
}
